.searchField {
  border-radius: 7px;
  background-color: rgb(27, 27, 179);
  padding: 10px 50px 10px 50px;
  margin: 0;
}
.form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.input {
  border: none;
  margin-right: 5px;
  border-radius: 5px;
  width: 250px;
  height: 30px;
}
.button {
  display: flex;
  text-align: center;
  align-items: center;
  height: 35px;
  color: rgb(255, 255, 255);
  background-color: rgb(49, 37, 142);
}
